input,
button,
select,
textarea {
  outline: none;
}

:root {
  --header-height: 3.5rem;
}

.header-height {
  height: var(--header-height);
}

.content-height {
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
}

.left-pages-height{
  height:calc(100vh - var(--header-height) - 8rem - 6rem);
}

.main-content-width{
  width: calc(100vw - 15.5rem);
}

.main-content-width-2{
  width: calc(100vw - 24rem);
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(217, 217, 217);
}

::-webkit-scrollbar-thumb:hover {
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(159, 159, 159);
}
.anticon svg {
  display: block;
  vertical-align: initial;
  /* display: inline-block; */
}
.page-content{
  max-width: 72rem; 
}