@font-face {
  font-family: "lowiconfont"; /* Project id 3668524 */
  src: url('iconfont.woff2?t=1678158818614') format('woff2'),
       url('iconfont.woff?t=1678158818614') format('woff'),
       url('iconfont.ttf?t=1678158818614') format('truetype');
}

.lowiconfont {
  font-family: "lowiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.low-Dwuti:before {
  content: "\e677";
}

.low-a-3Dfeixianditu:before {
  content: "\e7ac";
}

.low-jobtitle:before {
  content: "\e6e9";
}

.low-formatheader4:before {
  content: "\e863";
}

.low-formatheader5:before {
  content: "\e864";
}

.low-formatheader6:before {
  content: "\e865";
}

.low-format-header-:before {
  content: "\e75b";
}

.low-format-header-1:before {
  content: "\e75c";
}

.low-format-header-2:before {
  content: "\e75d";
}

.low-table2:before {
  content: "\e83c";
}

.low-text:before {
  content: "\e768";
}

.low-line:before {
  content: "\e7fe";
}

.low-Elliptical:before {
  content: "\e66a";
}

.low-triangle:before {
  content: "\e8a9";
}

.low-rectangle:before {
  content: "\e6b2";
}

.low-view-column:before {
  content: "\e666";
}

.low-fullscreen:before {
  content: "\e7ec";
}

.low-fullscreen-exit:before {
  content: "\e7ed";
}

.low-yidongduan:before {
  content: "\e63f";
}

.low-yidongduan1:before {
  content: "\e6b1";
}

.low-pc:before {
  content: "\e613";
}

.low-shujukanban:before {
  content: "\e604";
}

.low-aligncenter:before {
  content: "\e669";
}

.low-align-left:before {
  content: "\e60a";
}

.low-align-right:before {
  content: "\e60c";
}

.low-ExtendedDock:before {
  content: "\e6b8";
}

.low-number_input:before {
  content: "\e712";
}

.low-database:before {
  content: "\e6b0";
}

.low-rows:before {
  content: "\e732";
}

.low-layout-top-line:before {
  content: "\e706";
}

.low-layout-left-line:before {
  content: "\e70a";
}

.low-layout:before {
  content: "\e795";
}

.low-arrows_shrink_horizontal:before {
  content: "\e6ad";
}

.low-arrows_shrink_vertical:before {
  content: "\e6af";
}

.low-Scale:before {
  content: "\e636";
}

.low-save:before {
  content: "\e67d";
}

.low-detail:before {
  content: "\e660";
}

.low-browser:before {
  content: "\e62e";
}

.low-ic-published:before {
  content: "\e628";
}

.low-redo:before {
  content: "\e652";
}

.low-undo:before {
  content: "\e739";
}

.low-layers:before {
  content: "\e675";
}

.low-COMPONENTS:before {
  content: "\e9fa";
}

.low-Grid1:before {
  content: "\e62d";
}

.low-form:before {
  content: "\e60b";
}

.low-grid-table:before {
  content: "\e665";
}

.low-Header:before {
  content: "\e651";
}

.low-fieldset:before {
  content: "\e6cb";
}

.low-pages-line:before {
  content: "\e8d5";
}

.low-component1:before {
  content: "\e620";
}

.low-bxs-component:before {
  content: "\e6bd";
}

.low-date:before {
  content: "\e70d";
}

.low-list:before {
  content: "\e770";
}

.low-radiobuttonselect:before {
  content: "\e6ed";
}

.low-button:before {
  content: "\e7fd";
}

.low-picture:before {
  content: "\e67c";
}

.low-CheckboxChecked-1:before {
  content: "\e646";
}

.low-Grid:before {
  content: "\e654";
}

.low-a-icon_Freecontainer:before {
  content: "\e627";
}

.low-component:before {
  content: "\e600";
}

.low-input:before {
  content: "\e619";
}

.low-container:before {
  content: "\e724";
}

.low-input1:before {
  content: "\e60f";
}

.low-barcode:before {
  content: "\e6f3";
}

.low-barchart:before {
  content: "\ec04";
}

.low-HTML:before {
  content: "\e61b";
}

.low-table-color:before {
  content: "\e611";
}

.low-a-Displayflex:before {
  content: "\e606";
}

.low-TextT:before {
  content: "\e672";
}

.low-qrcode:before {
  content: "\e657";
}

.low-Table:before {
  content: "\e663";
}

